<%= hotel.user.name %>
<div class="card my-3">
  <div class="row g-0">
    <div class="col-md-4 center-block p-2 h-100 d-inline-block">
      <% if hotel.avatar.attached? %>
      <%= image_tag hotel.avatar, :style => "width: 100%; height: 300px; object-fit: cover"%>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= strip_tags hotel.title %></h5>
        
        <p class="card-text">
          <% hotel.stars.times do %>
          <i class="fas fa-star" style="color: #ffc107;"></i>
          <% end %>
          <i class="fas fa-thumbs-up"></i>
          <%= hotel.rating %>
        </p>
        <p class="card-text">
          <%= truncate strip_tags(hotel.about_hotel), length: 100 %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= truncate strip_tags(hotel.services), length: 50 %>
          </small>
        </p>
        <%= link_to 'Show', hotel_path(hotel), class: 'btn btn-primary'%>
        <%= link_to 'Edit', edit_hotel_path(hotel), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', hotel_path(hotel), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'} %>
      </div>
    </div>
  </div>
</div>